body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-image: url("../src/assets/book.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 95vh;
  min-width: 100%;
  margin: 0;
}

/* Navbar.js */
.navbar {
  background-color: olivedrab;
  padding: 10px;
}
.navbarBrand {
  padding: 0.25em;
}

/* Login.js */
.formLogin {
  background-color: olivedrab;
  margin: 20px;
  padding: 20px;
}


/* LibraryHome.js */
.containerLibraryHome {
  background-color: rgb(243, 240, 236);
}

.buttonHaveRead {
  margin-bottom: 10px;
}

/* LibraryList.js */
.buttonUpdate {
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
  /* background-color: papayawhip; */
}

.buttonDelete {
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
 
}

.imageBook {
  width: 70px; 
  height: 90px; 
  object-fit: cover;
  overflow: hidden;
}


/* LibraryUpdate.js */
.buttonCancelUpdate {
  float: right;
}

.buttonSubmitCreate {
  float: left;
}


/* SecondPage.js */
.secondPage {
  background-image: url("../src/assets/secondPage.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 95vh;
  min-width: 100%;
  margin: 0;
  border: 2px solid black;;
}

div.transbox {
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox h3 {
  margin: 5%;
  font-weight: bold;
}


/* Footer.js */
.footer {
  padding: 10px;
  padding-left: 50px ;
  margin: 0px;
  background-color: seashell; 
}